/* color palette from <https://colorhunt.co/palette/08d9d6252a34ff2e63eaeaea> */
:root {
  --colour-1: #08D9D6;
  --colour-2: #252A34;
  --colour-3: #FF2E63;
  --colour-4: #EAEAEA;
}

/* semantic color variables for this project */
:root {
  --colour-background: var(--colour-2);
  --colour-text: var(--colour-4);

  --colour-primary-back: var(--colour-3);
  --colour-primary-text: var(--colour-4);

  --colour-secondary-back: var(--colour-1);
  --colour-secondary-text: var(--colour-2);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--colour-text);
  background: var(--colour-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
}
