@import './base.css';

header {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
}

main > a {
  margin: auto;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}
